accelerate>=0.26.0
APScheduler==3.10.1
BeautifulSoup4==4.12.2
black==24.3.0
click==8.1.3
datasets==2.16.0
einops==0.8.0
fastapi==0.112.2
huggingface-hub==0.24.6
git+https://github.com/somosnlp/lm-evaluation-harness.git@24bd79534580a3245e348fc653917013462ce3b4#egg=lm_eval
lxml==4.9.3
python-dateutil==2.8.2
requests==2.32.2
rich==13.3.4
sentencepiece
tqdm==4.66.3
